# Database Configuration
DB_USER=# Ganti sesuai dengan user SQLmu. Jangan pake root
DB_PASSWORD=# Ganti sesuai dengan password user SQLmu
DB_HOST=127.0.0.1 # Sesuaikan dengan alamat domain/ip hostmu
DB_NAME=budidaya_lele # Sesuaikan dengan nama databasemu. Defaultnya dibuatin budidaya_lele

# Security
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
